{% extends 'base.html' %}

{% block content %}

<div class="content">
  <div class="container_12">
    <div class="grid_12">
      <h3>Our Menu &amp; Specials</h3>
      <div class="clear"></div>
      <ul class="banners ban1">
        {% for category in categories %}
      <li><a href="#"><img src="{{ category.image.url }}" alt="" height="110" width="90">{{category.name}}</a></li>
        {% endfor %}
     </ul>
    </div>
    <div class="clear"></div>
    <div class="gallery">
      {% for products in product_list %}
      <div class="grid_3">
        <a href="#" class="gal"><img src="{{ products.image.url }}" alt=""></a>
        <div class="text1"><a href="#">{{ products.name }}</a><span class="col1">${{ products.price }}</span></div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}










